#container{
    width: 500px;
    height: 500px;
    background-image: url("./images/bg0.jpg")
}
button{
    height: 40px;
    width: 80px;
    background-color: green;
    border: none;
}
button:hover{
    background-color: greenyellow
    
}
#image{
    position: absolute;
    left: 500px;
    top: 500px;
}